body
  background-color: white
  
  h1.space-down
    margin-bottom: 1em
    color: #7b1fa2
    
  p.results
    color: #7b1fa2
    font-weight: 900
    font-size: 3em
  
  li.attraction
    background-color: #7b1fa2
    color: #fff
  
  img.center
    margin: 0 auto
  
.intro
  height: 300px
  margin: 0 auto
  padding-bottom: 2em

.img-intro
  margin-top: 2em

.display-block
  display: block
  color: #121212

.cta
  background-color: #8bc34a
  color: #fff
  fontSize: 2em
  width: auto







  