/* line 1, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
body {
  background: url(/app/img/skulls.png);
  /* Background pattern from subtlepatterns.com */
  font-family: 'Prociono', serif; }
  /* line 6, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body .btn, body li {
    font-family: 'Lato', sans-serif; }
  /* line 9, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body h1.space-down {
    margin-bottom: 1em;
    color: #7b1fa2; }
  /* line 13, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body p.results {
    color: #7b1fa2;
    font-weight: 900;
    font-size: 3em; }
  /* line 18, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body li.attraction {
    background-color: #7b1fa2;
    color: #fff; }
  /* line 22, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body img.center {
    margin: 0 auto; }
  /* line 25, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  body .flex-parent {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 -15px; }
    /* line 31, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
    body .flex-parent .flex-child {
      align-self: center; }

/* line 34, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.no-pattern {
  background-color: #fff;
  height: 100vh; }

/* line 38, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.big-form {
  font-size: 2em;
  height: 2.5em;
  padding: 12px;
  text-align: center; }

/* line 44, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.intro {
  height: 300px;
  margin: 0 auto;
  padding-bottom: 2em; }

/* line 49, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.img-intro {
  margin-top: 2em; }

/* line 52, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.display-block {
  display: block;
  color: #121212;
  font-size: 0.7em; }

/* line 57, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.cta {
  background-color: #8bc34a;
  color: #fff;
  font-size: 1.5em;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 5px; }
  /* line 67, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .cta:hover,
  .cta:active,
  .cta:focus {
    color: #7b1fa2;
    background-color: #b6ff61; }

/* line 71, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.uppercase {
  text-transform: uppercase; }

/* line 74, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
.reselect-btn {
  background-color: #139dd9;
  color: #fff; }
  /* line 80, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .reselect-btn:hover,
  .reselect-btn:active,
  .reselect-btn:focus {
    background-color: #16b8ff;
    color: #7b1fa2; }

@media screen and (max-height: 480px) and (orientation: portrait) {
  /* line 86, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .img-intro {
    display: none; } }

@media screen and (max-height: 767px) and (orientation: landscape) {
  /* line 90, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .img-intro {
    display: none; } }

@media screen and (max-height: 568px) {
  /* line 94, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .intro {
    height: 200px; } }

@media screen and (max-height: 768px) {
  /* line 99, /Users/thedoer/Documents/projects/github-battle/app/styles/main.sass */
  .mobile-space-down:first-child {
    margin-bottom: 2em; } }

/*# sourceMappingURL=main.css.map */